<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic">
                <img src="/assets/img/favicon.png" alt="logotipo" />
                <div class="title-application">
                    E-CONCILIA
                </div>
            </div>

            <form class="login100-form" autocomplete="off">
                <span class="login100-form-title">Log In</span>

                <div class="wrap-input100">
                    <input pInputText class="input100" type="text" id="email" name="email" placeholder="Email" autofocus [(ngModel)]="email" />
                    <span class="symbol-input100">
                        <i class="pi pi-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100">
                    <input pInputText class="input100" type="password" name="senha" id="senha" placeholder="Senha" [(ngModel)]="senha" />
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="pi pi-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button pButton class="login100-form-btn" label="Acessar" (click)="login()"></button>
                </div>

                <div class="text-center">
                    <span class="txt2">
                        Conciliador de Operações Financeiras
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
