<div class="row" *ngIf="segurancaService.temPermissao('ROLE_PESQUISAR_DASHBOARD')">
    <div class="col-md-3 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Valor bruto de vendas:</label><br>
                <h5 class="color-wine">{{ formatarMoeda(dashboard.valorBrutoVendas) }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Quantidade de vendas:</label><br>
                <h5 class="color-wine"> {{ dashboard.quantidadeVendas }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Ticket médio:</label><br>
                <h5 class="color-wine">{{ formatarMoeda(dashboard.ticketMedio) }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Valor de cancelamentos:</label><br>
                <h5 class="color-wine">{{ formatarMoeda(dashboard.valorCancelamento) }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Total recebido via loja:</label><br>
                <h5 class="color-wine">{{ formatarMoeda(dashboard.valorRecebidoLoja) }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Taxa entrega:</label><br>
                <h5 class="color-wine">{{ formatarMoeda(dashboard.valorTaxaEntrega) }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Total em comissões:</label><br>
                <h5 class="color-wine">{{ formatarMoeda(dashboard.valorComissao) }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Total em promoções:</label><br>
                <h5 class="color-wine">{{ formatarMoeda(dashboard.valorPromocao) }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Comissão transação pagamento:</label><br>
                <h5 class="color-wine">{{ formatarMoeda(dashboard.valorComissaoTransacao) }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Total em repasses:</label><br>
                <h5 class="color-text-green">{{ formatarMoeda(dashboard.valorEmRepasse) }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Perc. crescimento:</label><br>
                <h5 class="color-text-green" *ngIf="dashboard.percentualCrescimento === 0"> {{ formatarPercentual(dashboard.percentualCrescimento) }}</h5>
                <h5 class="color-text-green" *ngIf="dashboard.percentualCrescimento > 0"> <i class="pi pi-angle-up"></i> {{ formatarPercentual(dashboard.percentualCrescimento) }}</h5>
                <h5 class="color-wine" *ngIf="dashboard.percentualCrescimento < 0"> <i class="pi pi-angle-down"></i> {{ formatarPercentual(dashboard.percentualCrescimento) }}</h5>
            </div>
        </div>
    </div>
</div>

