<div class="row">
    <div class="col-md-3 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Valor bruto de vendas:</label><br>
                <h5 class="color-wine">{{ formatarMoeda(dashboard.valorBrutoVendas) }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Quantidade de vendas:</label><br>
                <h5 class="color-wine"> {{ dashboard.quantidadeVendas }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Ticket médio:</label><br>
                <h5 class="color-wine">{{ formatarMoeda(dashboard.ticketMedio) }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Valor de cancelamentos:</label><br>
                <h5 class="color-wine">{{ formatarMoeda(dashboard.valorCancelamento) }}</h5>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Total recebido via loja:</label><br>
                <h5 class="color-wine">{{ formatarMoeda(dashboard.valorRecebidoLoja) }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Taxa entrega:</label><br>
                <h5 class="color-wine">{{ formatarMoeda(dashboard.valorTaxaEntrega) }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Incentivo promocional operadora:</label><br>
                <h5 class="color-wine">{{ formatarMoeda(dashboard.valorIncentivoPromocionalOperadora) }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Incentivo promocional loja:</label><br>
                <h5 class="color-wine">{{ formatarMoeda(dashboard.valorIncentivoPromocionalLoja) }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Total em repasses:</label><br>
                <h5 class="color-wine">{{ formatarMoeda(dashboard.valorEmRepasse) }}</h5>
            </div>
        </div>
    </div>
</div>

