<div class="row">
    <div class="col-md-3 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Valor bruto de vendas:</label><br>
                <h5 class="color-wine">R$ 3.450,19</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Quantidade de vendas:</label><br>
                <h5 class="color-wine">85</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Ticket médio:</label><br>
                <h5 class="color-wine">R$ 15,45</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Valor de cancelamento:</label><br>
                <h5 class="color-wine">R$ 45,95</h5>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Total de taxas:</label><br>
                <h5 class="color-wine">R$ 450,19</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Taxa média:</label><br>
                <h5 class="color-wine">2,85%</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Valor recebido:</label><br>
                <h5 class="color-wine">R$ 2.450,00</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-10">
        <div class="card">
            <div class="card-header">
                <label>Valor á receber:</label><br>
                <h5 class="color-wine">R$ 1.000,19</h5>
            </div>
        </div>
    </div>
</div>

