<form autocomplete="off" class="fade-in" #formulario="ngForm">
    <div class="card">
        <div class="card-header">
            <h4 class="color-wine"> Permissões de Usuário</h4>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mb-10">
                    <small class="float-end color-wine">Campos com ( * ) são obrigatórios.</small>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">Usuários *:</label>
                    <p-dropdown optionLabel="nomeCompleto" [options]="usuarios" [(ngModel)]="usuarioId" optionValue="id"
                        styleClass="w-100" name="usuarios" id="usuarios" placeholder="Selecione um usuário"
                        [required]="true"></p-dropdown>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="card-action">
                <button pButton type="button" class="p-button-danger p-button-sm" icon="pi pi-save" label="Salvar" (click)="salvarOuEditar()"></button>
                <button type="button" pButton class="p-button-danger p-button-sm p-button-outlined" icon="pi pi-replay" label="Voltar" routerLink="/configuracao/consulta/permissoes"></button>

                <button type="reset" pButton class="p-button-danger p-button-sm float-end" icon="pi pi-eraser" (click)="limpar()" *ngIf="!permissao.id" label="Limpar"></button>
            </div>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header">
            <h4 class="color-wine"> Listagem de Permissões </h4>
        </div>

        <div class="card-body">
            <p-table [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="15" dataKey="code"
                styleClass="p-datatable-striped p-datatable p-datatable-gridlines" [value]="regras">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 250px;">Funcionalidade</th>
                        <th class="text-center" style="min-width: 120px">Agendar</th>
                        <th class="text-center" style="min-width: 120px">Cadastrar</th>
                        <th class="text-center" style="min-width: 120px">Atualizar</th>
                        <th class="text-center" style="min-width: 120px;">Pesquisar</th>
                        <th class="text-center" style="min-width: 120px;">Deletar</th>
                        <th class="text-center" style="min-width: 120px;">Ativar</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-regra>
                    <tr>
                        <td>{{ regra['nome'] }}</td>
                        <td class="text-center">
                            <input type="checkbox" name="agendar" class="p-checkbox" [disabled]="naoBloquear(regra, TipoPermissao.AGENDAR)"
                                   [checked]="!!regra['agendar']" (change)="adicionar(regra, TipoPermissao.AGENDAR, $event)" />
                        </td>
                        <td class="text-center">
                            <input type="checkbox" name="cadastrar" class="p-checkbox" [disabled]="naoBloquear(regra, TipoPermissao.CADASTRAR)"
                                   [checked]="!!regra['cadastrar']" (change)="adicionar(regra, TipoPermissao.CADASTRAR, $event)" />
                        </td>
                        <td class="text-center">
                            <input type="checkbox" name="atualizar" class="p-checkbox" [disabled]="naoBloquear(regra, TipoPermissao.ATUALIZAR)"
                                   [checked]="!!regra['atualizar']" (change)="adicionar(regra, TipoPermissao.ATUALIZAR, $event)" />
                        </td>
                        <td class="text-center">
                            <input type="checkbox" name="pesquisar" class="p-checkbox" [disabled]="naoBloquear(regra, TipoPermissao.PESQUISAR)"
                                   [checked]="!!regra['pesquisar']" (change)="adicionar(regra, TipoPermissao.PESQUISAR, $event)" />
                        </td>
                        <td class="text-center">
                            <input type="checkbox" name="deletar" class="p-checkbox" [disabled]="naoBloquear(regra, TipoPermissao.DELETAR)"
                                   [checked]="!!regra['deletar']" (change)="adicionar(regra, TipoPermissao.DELETAR, $event)" />
                        </td>
                        <td class="text-center">
                            <input type="checkbox" name="ativar" class="p-checkbox" [disabled]="naoBloquear(regra, TipoPermissao.ATIVAR)"
                                   [checked]="!!regra['ativar']" (change)="adicionar(regra, TipoPermissao.ATIVAR, $event)" />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</form>
