<p-dialog [(visible)]="visivel" [modal]="true">
    <ng-template pTemplate="header">
        <h4 class="color-wine"> Taxas </h4>
    </ng-template>

    <p-table [value]="taxas" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="10"
             styleClass="p-datatable-striped p-datatable p-datatable-gridlines">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">Vr. de comissão</th>
                <th class="text-center">Vr. taxa pagamento</th>
                <th class="text-center">Vr. taxa pedido minímo</th>
                <th class="text-center">Vr. incentivo promocional</th>
                <th class="text-center">Vr. taxa entrega</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-taxa>
            <tr>
                <td class="text-end text-danger"> {{ formatarValor(taxa["comissao"]) }}</td>
                <td class="text-end text-danger"> {{ formatarValor(taxa["pagamento"]) }}</td>
                <td class="text-end text-danger"> {{ formatarValor(taxa["servico"] * -1) }}</td>
                <td class="text-end text-danger"> {{ formatarValor(taxa["incentivoPromocional"]) }}</td>
                <td class="text-end text-success"> {{ formatarValor(taxa["taxaEntrega"]) }}</td>
            </tr>
        </ng-template>
    </p-table>

    <ng-template pTemplate="footer">
        <button pButton class="p-button-danger p-button-sm p-button-outlined" icon="pi pi-times" label="Fechar"
                (click)="fecharDialog()"></button>
    </ng-template>
</p-dialog>
