<nav class="navbar navbar-dark bg-dark wine fixed-top {{ exibirMenu ? 'moving ml-240 ml-50' : 'moving' }} ">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" (click)="fecharMenu()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <span class="navbar-title text-overflow">
            E-Concilia | Conciliador de Operações
        </span>

        <div class="container-user">
            <small class="color-text-white">Bem-vindo: {{ usuario }} - {{ dataCorrente() }} {{ hora }}</small>
        </div>

        <a class="notification" (click)="notificacoesDialog()">
            <i class="pi pi-bell">
                <span *ngIf="quantidadeNotificacoes > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ quantidadeNotificacoes }}
                    <span class="visually-hidden">notificações não lidas</span>
                </span>
            </i>
        </a>

        <div class="navbar-menu {{ exibirMenu ? 'block' : 'hidden' }} ">

            <div class="navbar-menu-title">
                <span class="logo-title"></span>
            </div>

            <div class="navbar-divisor"></div>

            <ul class="navbar-menu-item" *ngIf="menuPrincipal">
                <li class="custom-navbar-title">
                    <a routerLink="/dashboard/inicial"> <i class="pi pi-home"></i>
                        <span> Inicial </span>
                    </a>
                </li>
                <li class="custom-navbar-title" *ngIf="segurancaService.temPermissao('ROLE_MENU_EMPRESA')">
                    <a routerLink="/consulta/empresas"> <i class="pi pi-building"></i>
                        <span> Empresas </span>
                    </a>
                </li>
                <li class="custom-navbar-title" *ngIf="segurancaService.temPermissao('ROLE_MENU_CONTRATO')">
                    <a routerLink="/consulta/contratos"> <i class="pi pi-book"></i>
                        <span> Contratos </span>
                    </a>
                </li>
                <li class="custom-navbar-title" *ngIf="segurancaService.temPermissao('ROLE_MENU_OPERADORA')">
                    <a routerLink="/consulta/operadoras"> <i class="pi pi-credit-card"></i>
                        <span> Operadoras </span>
                    </a>
                </li>
                <li class="custom-navbar-title" *ngIf="segurancaService.temPermissao('ROLE_MENU_TAXA')">
                    <a routerLink="/consulta/taxas"> <i class="pi pi-dollar"></i>
                        <span> Taxas </span>
                    </a>
                </li>
                <li class="custom-navbar-title" *ngIf="segurancaService.temPermissao('ROLE_MENU_CONCILIADOR')">
                    <a href="#" (click)="menuConciliadores($event)"> <i class="pi pi-sync"></i>
                        <span> Conciliadores </span>
                    </a>
                </li>
                <li class="custom-navbar-title" *ngIf="temAcessoMenuConfiguracao()">
                    <a href="#" (click)="menuConfiguracoes($event)"> <i class="pi pi-cog"></i>
                        <span> Configurações </span>
                    </a>
                </li>
                <li class="custom-navbar-title" *ngIf="temAcessoMenuRelatorio()">
                    <a href="#" (click)="menuRelatorios($event)"> <i class="pi pi-chart-bar"></i>
                        <span> Relatórios </span>
                    </a>
                </li>
                <li class="custom-navbar-title">
                    <a (click)="segurancaService.logout()"> <i class="pi pi-sign-out"></i>
                        <span> Sair </span>
                    </a>
                </li>
            </ul>

            <ul class="navbar-menu-item navbar-submenu" *ngIf="exibirMenuConciliadores">
                <li class="custom-navbar-title">
                    <a href="#" (click)="menuConciliadores($event)"> <i class="pi pi-angle-double-left"></i>
                        <span> Conciliadores </span>
                    </a>
                    <ul class="p-left-50">
                        <li class="custom-navbar-title" *ngIf="segurancaService.temPermissao('ROLE_PESQUISAR_CONCILIADOR_IFOOD')">
                            <a routerLink="/consulta/conciliador/ifood"> <i class="pi pi-calculator"></i>
                                <span> Ifood </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-menu-item navbar-submenu" *ngIf="exibirMenuConfiguracoes">
                <li class="custom-navbar-title">
                    <a href="#" (click)="menuConfiguracoes($event)"> <i class="pi pi-angle-double-left"></i>
                        <span> Configurações </span>
                    </a>
                    <ul class="p-left-50">
                        <li class="custom-navbar-title" *ngIf="segurancaService.temPermissao('ROLE_PESQUISAR_INTEGRACAO')">
                            <a routerLink="configuracao/consulta/integracoes"> <i class="pi pi-share-alt"></i>
                                <span> Integrações </span>
                            </a>
                        </li>
                        <li class="custom-navbar-title" *ngIf="segurancaService.temPermissao('ROLE_PESQUISAR_USUARIO')">
                            <a routerLink="configuracao/consulta/usuarios"> <i class="pi pi-user"></i>
                                <span> Usuários </span>
                            </a>
                        </li>
                        <li class="custom-navbar-title" *ngIf="segurancaService.temPermissao('ROLE_PESQUISAR_PERMISSAO')">
                            <a routerLink="configuracao/consulta/permissoes"> <i class="pi pi-shield"></i>
                                <span> Permissões </span>
                            </a>
                        </li>
                        <li class="custom-navbar-title" *ngIf="segurancaService.temPermissao('ROLE_PESQUISAR_IMPORTACAO')">
                            <a routerLink="configuracao/cadastro/importacoes/agendar"> <i class="pi pi-download"></i>
                                <span> Importações </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-menu-item navbar-submenu" *ngIf="exibirMenuRelatorios">
                <li class="custom-navbar-title">
                    <a href="#" (click)="menuRelatorios($event)"> <i class="pi pi-angle-double-left"></i>
                        <span> Relatórios </span>
                    </a>
                    <ul class="p-left-50">
                        <li class="custom-navbar-title" *ngIf="segurancaService.temPermissao('ROLE_PESQUISAR_RELATORIO')">
                            <a routerLink="relatorio/vendas"> <i class="pi pi-cart-plus"></i>
                                <span> Vendas </span>
                            </a>
                        </li>
                        <li class="custom-navbar-title" *ngIf="segurancaService.temPermissao('ROLE_PESQUISAR_RELATORIO')">
                            <a routerLink="relatorio/taxas"> <i class="pi pi-dollar"></i>
                                <span> Taxas </span>
                            </a>
                        </li>
                        <li class="custom-navbar-title" *ngIf="segurancaService.temPermissao('ROLE_PESQUISAR_RELATORIO')">
                            <a routerLink="relatorio/conciliacao"> <i class="pi pi-chart-line"></i>
                                <span> Conciliação </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br/>
<br/>

<div class="navbar-navegator {{ exibirMenu ? 'moving ml-240 ml-50' : 'moving' }}">
    <app-breadcrumb></app-breadcrumb>
</div>

<p-dialog [(visible)]="visivel" [modal]="true">
    <ng-template pTemplate="header">
        <h4 class="color-wine"> Notificações </h4>
    </ng-template>

    <app-notificacao-consulta (quantidade)="atualizarNotificacoes($event)"></app-notificacao-consulta>
</p-dialog>

