<nav class="navbar navbar-dark bg-dark wine fixed-top {{ exibirMenu ? 'moving ml-240' : 'moving' }} ">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" (click)="fecharMenu()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <span class="navbar-title text-overflow">
            E-Concilia | Conciliador de Operações
        </span>

        <div class="container-user">
            <small class="color-text-white">Bem-vindo: {{ usuario }} - {{ dataCorrente() }} {{ hora }}</small>
        </div>

        <a href="#" class="notification">
            <i class="pi pi-bell">
<!--                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">-->
<!--                    10+-->
<!--                    <span class="visually-hidden">notificações não lidas</span>-->
<!--                </span>-->
            </i>
        </a>

        <div class="navbar-menu {{ exibirMenu ? 'block' : 'hidden' }} ">

            <div class="navbar-menu-title">
                <span>E-CONCILIA</span>
            </div>

            <div class="navbar-divisor"></div>

            <ul class="navbar-menu-item" *ngIf="menuPrincipal">
                <li>
                    <a routerLink="/dashboard/inicial"> <i class="pi pi-home"></i> Inicial </a>
                </li>
                <li *ngIf="segurancaService.temPermissao('ROLE_MENU_EMPRESA')">
                    <a routerLink="/consulta/empresas"> <i class="pi pi-building"></i> Empresas </a>
                </li>
                <li *ngIf="segurancaService.temPermissao('ROLE_MENU_CONTRATO')">
                    <a routerLink="/consulta/contratos"> <i class="pi pi-book"></i> Contratos </a>
                </li>
                <li *ngIf="segurancaService.temPermissao('ROLE_MENU_OPERADORA')">
                    <a routerLink="/consulta/operadoras"> <i class="pi pi-credit-card"></i> Operadoras </a>
                </li>
                <li *ngIf="segurancaService.temPermissao('ROLE_MENU_TAXA')">
                    <a routerLink="/consulta/taxas"> <i class="pi pi-dollar"></i> Taxas </a>
                </li>
                <li *ngIf="segurancaService.temPermissao('ROLE_MENU_CONCILIADOR')">
                    <a href="#" (click)="menuConciliadores($event)"> <i class="pi pi-sync"></i> Conciliadores </a>
                </li>
                <li *ngIf="temAcessoMenuConfiguracao()">
                    <a href="#" (click)="menuConfiguracoes($event)"> <i class="pi pi-cog"></i> Configurações </a>
                </li>
                <li>
                    <a (click)="segurancaService.logout()"> <i class="pi pi-sign-out"></i> Sair </a>
                </li>
            </ul>

            <ul class="navbar-menu-item navbar-submenu" *ngIf="exibirMenuConciliadores">
                <li>
                    <a href="#" (click)="menuConciliadores($event)"> <i class="pi pi-angle-double-left"></i>
                        Conciliadores </a>
                    <ul class="p-left-50">
                        <li *ngIf="segurancaService.temPermissao('ROLE_PESQUISAR_CONCILIADOR_IFOOD')"><a
                            routerLink="/consulta/conciliador/ifood"> <i class="pi pi-calculator"></i> Ifood </a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-menu-item navbar-submenu" *ngIf="exibirMenuConfiguracoes">
                <li>
                    <a href="#" (click)="menuConfiguracoes($event)"> <i class="pi pi-angle-double-left"></i>
                        Configurações </a>
                    <ul class="p-left-50">
                        <li *ngIf="segurancaService.temPermissao('ROLE_PESQUISAR_INTEGRACAO')"><a
                            routerLink="configuracao/consulta/integracoes"> <i class="pi pi-share-alt"></i> Integrações
                        </a></li>
                        <li *ngIf="segurancaService.temPermissao('ROLE_PESQUISAR_USUARIO')"><a
                            routerLink="configuracao/consulta/usuarios"> <i class="pi pi-user"></i> Usuários </a></li>
                        <li *ngIf="segurancaService.temPermissao('ROLE_PESQUISAR_PERMISSAO')"><a
                            routerLink="configuracao/consulta/permissoes"> <i class="pi pi-shield"></i> Permissões </a>
                        </li>
                        <li *ngIf="segurancaService.temPermissao('ROLE_PESQUISAR_IMPORTACAO')"><a
                            routerLink="configuracao/cadastro/importacoes/agendar"> <i class="pi pi-download"></i>
                            Importações </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br/>
<br/>

<div class="navbar-navegator {{ exibirMenu ? 'moving ml-240' : 'moving' }}">
    <app-breadcrumb></app-breadcrumb>
</div>

