<div class="main-container">
    <app-navbar></app-navbar>
    <app-loader></app-loader>

    <div class="main-wrap">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <app-footer></app-footer>
        </div>
    </footer>

    <p-toast></p-toast>

    <p-confirmDialog [style]="{ width: '55vw' }" header="Confirmação" icon="pi pi-exclamation-triangle" #confirmDialog>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" label="Sim" class="p-button-danger p-button-sm" (click)="confirmDialog.accept()"></button>
            <button type="button" pButton icon="pi pi-times" label="Não" class="p-button-danger p-button-sm" (click)="confirmDialog.reject()"></button>
        </p-footer>
    </p-confirmDialog>
</div>

