<div class="main-container">
    <app-navbar *ngIf="exibirNavBar()"></app-navbar>
    <app-loader></app-loader>

    <div
        class="main-wrap {{ exibirMenu && exibirNavBar() ? 'block' : 'hidden' }} {{ exibirMenu && exibirNavBar() ? 'moving ml-240 ml-50' : 'moving' }}">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>

    <footer class="footer" *ngIf="exibirNavBar()">
        <div class="container-fluid">
            <app-footer></app-footer>
        </div>
    </footer>

    <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>

    <p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle" #confirmDialog>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" label="Sim" class="p-button-danger p-button-sm"
                    (click)="confirmDialog.accept()"></button>
            <button type="button" pButton icon="pi pi-times" label="Não" class="p-button-danger p-button-sm"
                    (click)="confirmDialog.reject()"></button>
        </p-footer>
    </p-confirmDialog>
</div>

