<form autocomplete="off" class="fade-in" #formulario="ngForm">
    <div class="row">
        <div class="col-md-12 mb-10 pad-left-1">
            <h5 class="color-wine">Boas vindas!</h5>
            <label>Aqui você acompanha uma visão geral de todas as movimentações diárias do mês.</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <p class="color-wine">
                        <strong>Filtros:</strong>
                    </p>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label">Data inicial:</label>
                            <p-calendar appendTo="body" id="dtInicial" [style]="{ 'width': '100%' }" name="dtInicial" [readonlyInput]="true" [(ngModel)]="filtro.dtInicial" dateFormat="dd/mm/yy"></p-calendar>
                        </div>

                        <div class="col-md-3">
                            <label class="form-label">Data final:</label>
                            <p-calendar appendTo="body" id="dtFinal" [style]="{ 'width': '100%' }" name="dtFinal" [readonlyInput]="true" [(ngModel)]="filtro.dtFinal" dateFormat="dd/mm/yy"></p-calendar>
                        </div>

                        <div class="col-md-3">
                            <label class="form-label">Lojas:</label>
                            <p-dropdown styleClass="w-100" name="loja" id="loja" optionLabel="razaoSocial" optionValue="id" placeholder="Selecione uma loja"
                                       [options]="empresas" [(ngModel)]="empresaSelecionadaId"></p-dropdown>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="card-action">
                        <button pButton class="p-button-danger p-button-sm" icon="pi pi-search" (click)="pesquisar()" label="Aplicar filtros"></button>
                        <button pButton class="p-button-danger p-button-sm float-end" icon="pi pi-eraser" (click)="limpar()" label="Limpar"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-dashboard-info [dashboard]="dashboard"></app-dashboard-info>

    <div class="row">
        <div class="col-md-6 mb-10">
            <div class="card">
                <div class="card-body">
                    <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-10">
            <div class="card">
                <div class="card-body">
                    <p-chart type="bar" [data]="basicData2" [options]="basicOptions2"></p-chart>
                </div>
            </div>
        </div>
    </div>
</form>
