<form autocomplete="off" class="fade-in" #formulario="ngForm">
    <div class="row">
        <div class="col-md-12 mb-10 pad-left-1">
            <h5 class="color-wine">Boas vindas!</h5>
            <label>Aqui você acompanha uma visão geral de todas as movimentações diárias do mês.</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <p class="color-wine">
                        <strong>Filtros:</strong>
                    </p>

                    <div class="row">
                        <div class="col-md-2">
                            <label class="form-label">Período:</label>
                            <p-calendar name="periodo" id="periodo" [style]="{ 'width': '100%' }"
                                        [(ngModel)]="filtro.periodo" [readonlyInput]="true" view="month" dateFormat="MM/yy"></p-calendar>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Lojas:</label>
                            <p-dropdown styleClass="w-100" name="loja" id="loja" optionLabel="razaoSocial"
                                        optionValue="id" placeholder="Selecione uma loja"
                                        [options]="empresas" [(ngModel)]="empresaSelecionadaId"></p-dropdown>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="card-action">
                        <button pButton class="p-button-danger p-button-sm" icon="pi pi-search" (click)="pesquisar()"
                                label="Pesquisar"
                                [disabled]="!segurancaService.temPermissao('ROLE_PESQUISAR_DASHBOARD')"></button>

                        <button pButton class="p-button-danger p-button-sm float-end" icon="pi pi-eraser"
                                (click)="limpar()" label="Limpar"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-dashboard-info [dashboard]="dashboard"></app-dashboard-info>

    <div class="row" *ngIf="segurancaService.temPermissao('ROLE_PESQUISAR_DASHBOARD')">
        <div class="col-md-6 mb-10">
            <div class="card">
                <div class="card-body">
                    <app-dashboard-grafico-venda-ultimo-sete-dias [empresas]="empresasSelecionadas"></app-dashboard-grafico-venda-ultimo-sete-dias>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-10">
            <div class="card">
                <div class="card-body">
                    <app-dashboard-grafico-venda-ultimo-sete-dias-credito-debito [empresas]="empresasSelecionadas"></app-dashboard-grafico-venda-ultimo-sete-dias-credito-debito>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="segurancaService.temPermissao('ROLE_PESQUISAR_DASHBOARD')">
        <div class="col-md-6 mb-10">
            <div class="card">
                <div class="card-body">
                    <app-dashboard-grafico-venda-ultimo-sete-dias-dinheiro-pix [empresas]="empresasSelecionadas"></app-dashboard-grafico-venda-ultimo-sete-dias-dinheiro-pix>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-10">
            <div class="card">
                <div class="card-body">
                    <app-dashboard-grafico-venda-ultimo-sete-dias-percentual [empresas]="empresasSelecionadas"></app-dashboard-grafico-venda-ultimo-sete-dias-percentual>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="segurancaService.temPermissao('ROLE_PESQUISAR_DASHBOARD')">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <app-dashboard-grafico-venda-mensal [dataInicial]="filtro.dtInicial" [dataFinal]="filtro.dtFinal" [empresas]="empresasSelecionadas"></app-dashboard-grafico-venda-mensal>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="segurancaService.temPermissao('ROLE_PESQUISAR_DASHBOARD')">
        <div class="col-md-12 mb-10">
            <div class="card">
                <div class="card-body">
                    <app-dashboard-grafico-venda-anual></app-dashboard-grafico-venda-anual>
                </div>
            </div>
        </div>
    </div>
</form>
