<form autocomplete="off" class="fade-in">
    <div class="card">
        <div class="card-header">
            <h4 class="color-wine"> Conciliador ifood </h4>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mb-10">
                    <small class="float-end color-wine">Os campos com ( * ) são obrigatórios.</small>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label class="form-label">Data da venda de*:</label>
                    <p-calendar appendTo="body" id="dtVendaDe" [style]="{ 'width': '100%' }" name="dtVendaDe"
                                [readonlyInput]="true" dateFormat="dd/mm/yy" [(ngModel)]="dtVendaDe"></p-calendar>
                </div>
                <div class="col-md-2">
                    <label class="form-label">Data da venda até*:</label>
                    <p-calendar appendTo="body" id="dtVendaAte" [style]="{ 'width': '100%' }" name="dtVendaAte"
                                [readonlyInput]="true" dateFormat="dd/mm/yy" [(ngModel)]="dtVendaAte"></p-calendar>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label class="form-label">Empresa*:</label>
                    <p-dropdown styleClass="w-100" name="empresa" id="empresa" optionLabel="razaoSocial"
                                optionValue="id" [options]="empresas" placeholder="Selecione uma empresa"
                                [(ngModel)]="empresaId" [required]="true"></p-dropdown>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Método de pagamento:</label>
                    <p-dropdown styleClass="w-100" name="metodo" id="metodo" [options]="metodos"
                                placeholder="Selecione um método" [(ngModel)]="metodoPagamento"></p-dropdown>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Bandeira:</label>
                    <p-dropdown styleClass="w-100" name="bandeira" id="bandeira" [options]="bandeiras"
                                placeholder="Selecione uma bandeira" [(ngModel)]="bandeira"></p-dropdown>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Venda recebida via:</label>
                    <p-dropdown styleClass="w-100" name="tipoRecebimento" id="tipoRecebimento"
                                [options]="tiposRecebimento" placeholder="Selecione"
                                [(ngModel)]="tipoRecebimento"></p-dropdown>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-10">
                    <br/>
                    <div class="card-action">
                        <button pButton class="p-button-danger p-button-sm" icon="pi pi-search" (click)="pesquisar()"
                                label="Pesquisar"
                                [disabled]="!segurancaService.temPermissao('ROLE_PESQUISAR_CONCILIADOR_IFOOD')"></button>
                        <button pButton class="p-button-danger p-button-sm" icon="pi pi-eraser" label="Limpar"
                                (click)="limpar()"></button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-10"></div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-10">
                    <p-table [value]="conciliador.vendas" [paginator]="true"
                             responsiveLayout="stack" [breakpoint]="'960px'"
                             [rows]="10" styleClass="p-datatable-striped p-datatable p-datatable-gridlines" #tabela>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">Data</th>
                                <th class="text-center">Bandeira</th>
                                <th class="text-center">Meio pagto</th>
                                <th class="text-center">Valor bruto</th>
                                <th class="text-center">Valor pedido</th>
                                <th class="text-center">Valor cancelado</th>
                                <th class="text-center">Valor liquído</th>
                                <th class="text-center">Reprocess.</th>
                                <th class="text-center">Conciliado</th>
                                <th class="text-center">Ver. taxas</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-venda>
                            <tr>
                                <td class="text-center">
                                    <span class="p-column-title">Data</span>
                                    {{ venda["dataPedido"] | date:'dd/MM/yyyy' }}
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">Bandeira</span>
                                    {{ venda["pagamento"]["bandeira"] }}
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">Meio pagto</span>
                                    {{ venda["pagamento"]["metodo"] }}
                                </td>
                                <td class="text-end">
                                    <span class="p-column-title">Valor bruto</span>
                                    {{ formatarValor(venda["valorBruto"]) }}
                                </td>
                                <td class="text-end">
                                    <span class="p-column-title">Valor pedido</span>
                                    {{ formatarValor(venda["valorTotalPedido"]) }}
                                </td>
                                <td class="text-end">
                                    <span class="p-column-title">Valor cancelado</span>
                                    {{ formatarValor(venda["valorCancelado"]) }}
                                </td>
                                <td class="text-end">
                                    <span class="p-column-title">Valor liquído</span>
                                    {{ formatarValor(venda["valorLiquido"]) }}
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">Reprocess.</span>
                                    <span class=" {{ venda['reprocessada'] === true ? 'badge text-bg-danger' : 'badge text-bg-success' }} ">
                                        {{ venda["reprocessada"] === true ? 'Sim' : 'Não' }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">Conciliado</span>
                                    <span class=" {{ venda['conciliado'] === true ? 'badge text-bg-success' : 'badge text-bg-danger' }} ">
                                        {{ venda["conciliado"] === true ? 'Sim' : 'Não' }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="p-column-title">Ver. taxas</span>
                                    <button type="button" pButton icon="pi pi-eye-slash"
                                            class="p-button-danger p-button-sm"
                                            (click)="dialogTaxaContratual(venda)"></button>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="footer">
                            <tr>
                                <td colspan="3" class="text-end">Total de vendas do período</td>
                                <td class="text-end"> {{ formatarValor(conciliador.totalizador.totalValorBruto) }}</td>
                                <td class="text-end"> {{ formatarValor(conciliador.totalizador.totalValorPedido) }}</td>
                                <td class="text-end"> {{ formatarValor(conciliador.totalizador.totalValorCancelado) }}</td>
                                <td class="text-end"> {{ formatarValor(conciliador.totalizador.totalValorLiquido) }}</td>
                                <!--                                <td class="text-end"> {{ formatarValor(conciliador.totalizador.totalTaxaEntrega) }}</td>-->
                                <!--                                <td class="text-end"> {{ formatarValor(conciliador.totalizador.totalTaxaAquisicaoPraticada) }}</td>-->
                                <!--                                <td class="text-end"> {{ formatarValor(conciliador.totalizador.totalTaxaAquisicaoAplicada) }}</td>-->
                                <!--                                <td></td>-->
                                <!--                                <td></td>-->
                                <!--                                <td class="text-end"> {{ formatarValor(conciliador.totalizador.totalDiferenca) }}</td>-->
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-10"></div>
            </div>

            <!--            <app-resumo-financeiro [resumoFinanceiro]="conciliador.resumoFinanceiro"></app-resumo-financeiro>-->
        </div>
    </div>
</form>

<app-taxa [taxas]="taxas" [visivel]="visivel" (fechar)="dialogTaxaContratual()"></app-taxa>

