/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {
    --font-family: 'Ubuntu', sans-serif !important;
}

body, table {
    font-family: var(--font-family);
    background-color: #f1f4f6;
}

td,
label,
small,
input {
    color: rgba(0, 0, 0, 0.54) !important;
}

.bg-dark.wine {
    background-color: #701717 !important;
}

.color-wine {
    color: #701717 !important;
}

.color-text-green {
    color: RGBA(25, 135, 84, var(--bs-bg-opacity, 1)) !important;
}

.color-text-white {
    color: RGBA(255, 255, 255, var(--bs-bg-opacity, 1)) !important;
}

button[disabled] {
    cursor: no-drop !important;
}

/**
 * Classes de estrutura basica
 * para manter footer posicionado no fim da pagina
 */
.main-container {
    min-height: 100vh;
    position: relative;
}

.main-wrap {
    padding-bottom: 6rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;

    border-top: 1px solid #af395e21;
    z-index: -1;
}

/**
 * Classes helpers para ajustar tamanho (width)
 */
.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-50 {
    width: 50% !important;
}

.mb-10 {
    margin-bottom: 10px;
}

/**
 * Classes de helpers para text
 */
.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/**
 * Classes para aplicar o efeito de aparecimento gradual (fadeIn)
 */
.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/**
 * Classes de customização do bootstrap css
 */
.card,
.card-header {
    border-radius: 0 !important;
}

.card {
    box-shadow: none !important;
}

.card-header {
    background-color: #fff !important;
    border-bottom: 1px solid rgba(26, 54, 126, 0.125);
}

.card-footer {
    background-color: #fff !important;
    border-top: 1px solid rgba(26, 54, 126, 0.125);
}

.card {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border: 1px solid rgba(26, 54, 126, 0.125) !important;

    box-shadow: 0 5px 10px #787676;
}

.card-action button ~ button,
.action button ~ button {
    margin-left: 10px;
}

/**
 * Classes de customização primeng css
 */
.p-checkbox .p-checkbox-box.p-highlight {
    border-color: #701717 !important;
    background: #701717 !important;
}

.p-button-label {
    font-weight: normal !important;
}

.p-button.p-button-sm {
    padding: 0.3232rem 0.9898rem !important;
}

.p-button-danger {
    background-color: #701717 !important;
    border: 1px solid #701717 !important;
}

.p-button-danger:hover {
    background-color: #873535 !important;
    border: 1px solid #873535 !important;
}

.p-button-danger.p-button-outlined {
    background-color: transparent !important;
    color: #701717 !important;
    border: 1px solid !important;
}

.p-button-danger.p-button-outlined:hover {
    background: rgba(239, 68, 68, 0.04) !important;
}

.p-dropdown .p-dropdown-trigger {
    background: #701717 !important;
    color: #fff !important;
}

.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-thead > tr > th {
    padding: 10px !important;
}

.p-datatable .p-datatable-thead > tr > th {
    background-color: #701717 !important;
    color: #fff !important;
    font-weight: normal !important;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: #701717 !important;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #701717;
    color: #fff;
}

.alert-warning {
    background: #701717;
    color: #fff;
}

.alert-warning:hover {
    background: #8c2020;
    transition: 01s;
}

.alert-warning a {
    text-decoration: none;
    color: #fff;
}

.p-datepicker table td {
    padding: 0.2rem !important;
}

.p-datepicker table td > span {
    width: 1.7rem !important;
    height: 1.7rem !important;
}

.p-datepicker table {
    font-size: 10pt !important;
    margin: -0.147rem 0 !important;
}

.p-datepicker .p-datepicker-header {
    padding: 0.2rem !important;
}

.p-multiselect {
    height: 50px !important;
}

/**
 * FIM CUSTOM PRIMENG
 */


/**
 * CONFIG NAVBAR
 */
.navbar-menu.hidden {
    transform: translateX(-240px);
}

.moving {
    transition: margin-left 1s;
}

.ml-240 {
    margin-left: 240px;
}

.backdrop {
    border-radius: 0 !important;
}
