<form autocomplete="off" class="fade-in">
    <div class="card">
        <div class="card-header">
            <h4 class="color-wine"> Conciliador ifood </h4>
        </div>

        <div class="card-body">

        </div>

        <div class="card-footer">
            <div class="card-action">
                <button pButton class="p-button-danger p-button-sm p-button-outlined" icon="pi pi-replay"  routerLink="/consulta/conciliadores" label="Voltar"></button>
            </div>
        </div>
    </div>
</form>
